.ButtonContainer {
  width: 220px;
}

.Container {
  background-color: #2364AA;
}

.Background {
  z-index: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  opacity: 0.7;
  background-image: radial-gradient(#9a9a9a 1px, #ffffff 1px);
  background-size: 20px 20px;
}